@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main > img {
    display: none;
}

:root {
    --purple: #855fb1;
    --lightblue: #4d96a9;
    --white: #fff;
    --gray: #c9c9c9;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

.container-absolute {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    align-self: center;
    margin-top: 50px;
}

.img-header {
    align-self: center;
    width: 100%;
    margin: 50px 0;
    scale: 1.1;
}

.container-4img {
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 50px auto;
}

.container-4img > img {
    max-width: calc(50% - 10px);
    border-radius: 10px;
}

.container-main {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    gap: 25px;
    width: 325px;
    margin: 0 auto;
}

.title-main {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1em;
}

.paragraph-main {
    opacity: 0.5;
    margin-bottom: 15px;
}

.container-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

[class^="btn"] {
    height: 50px;
    border-radius: 25px;
    align-self: center;
    padding: 15px 0;
    font-weight: 700;
    color: var(--white);
    border: none;
    scale: 1.15;
}

[class^="btn"] > span {
    opacity: 0.5;
}

[class$="download"] {
    background-color: var(--lightblue);
    padding: 0 35px;
}

[class$="purple"] {
    background-color: var(--purple);
    padding: 0 25px;
}

.number-section {
    font-weight: 500;
    position: relative;
    margin: 175px auto 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray);
    border-radius: 25px;
    background-color: var(--white);
}

.number-section::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    height: 100px;
    width: 2px;
    background-color: var(--gray);
}

.container-aside {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subtitle-aside {
    color: var(--lightblue);
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 4px;
    letter-spacing: 4px;
    font-size: 1em;
}

.title-aside {
    font-size: 2.25em;
    font-weight: 900;
}

.paragraph-aside {
    opacity: 0.5;
    font-size: 1.1em;
}

.container-footer {
    min-width: 375px;
}

.container-footer figure {
    height: 428px;
    position: relative;
}

[class^="background-footer"] {
    width: 100%;
    position: relative;
    z-index: -5;
    object-fit: fill;
}

.content-footer {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    color: var(--white);
    text-align: center;
    background-color: #4d97a9de;
}

.content-footer .btn-download {
    background-color: var(--purple);
}

.content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 90px;
}

.title-footer {
    font-size: 2em;
    font-weight: 700;
}

.paragraph-footer {
    font-size: 1.15em;
}

.last-section {
    position: relative;
    bottom: -25px;
    z-index: 5;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
    .img-header {
        scale: 1.075;
    }

    .background-footer-mobile {
        display: none;
    }

    .background-footer-desktop {
        display: none;
    }

    .container-4img {
        gap: 10px;
        margin-bottom: 20px;
    }

    .container-4img img {
        width: calc(25% - 20px);
    }

    .container-main {
        width: 400px;
    }

    .container-btn {
        flex-direction: row;
        margin: 0 auto;
        gap: 35px;
    }

    .title-aside {
        width: 400px;
    }

    .container-aside {
        width: 625px;
    }

    .content {
        gap: 40px;
    }

    .title-footer {
        line-height: 1em;
        width: 375px;
        font-size: 2.5em;
    }

    .paragraph-footer {
        display: block;
        width: 575px;
    }
}

@media screen and (min-width: 1366px) {
    .main > img {
        display: block;
        align-self: stretch;
        position: relative;
    }

    .main {
        display: flex;
        margin-top: 75px;
        gap: 25px;
    }

    .main [class$="left"] {
        order: 1;
        left: -35px;
        top: -35px;
    }

    .container-main {
        order: 2;
        width: 475px;
    }

    .main [class$="right"] {
        order: 3;
        right: -35px;
        top: 15px;
    }

    .title-main {
        font-size: 4em;
    }

    .container-btn {
        flex-direction: row;
        margin: 0 auto;
        gap: 35px;
    }

    .img-header {
        display: none;
    }

    .container-4img {
        width: 90%;
        gap: 25px;
        margin-bottom: 20px;
    }

    .container-4img img {
        width: calc(25% - 50px);
    }

    .container-aside {
        width: 525px;
    }

    .title-aside {
        width: 400px;
    }

    .background-footer-desktop {
        display: block;
    }

    .background-footer-mobile {
        display: none;
    }

    .background-footer-tablet {
        display: none;
    }

    .content-footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        flex-direction: row;
        margin: 0 auto;
        text-align: left;
        justify-content: space-around;
    }

    .btn-download {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .container-footer figure {
        height: 100%;
    }

    .title-footer {
        width: 260px;
    }

    .paragraph-footer {
        width: 300px;
    }
}
